<section>
      <div class="container-fluid schoolworkshop_con">
        <div class="container">
          <div class="row">
            <div class="page_heading schoolworkshop_heading">WORKSHOP</div>
            <h1>School Workshop</h1><hr>
            
          </div>
          <div class="row align_justify">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h4>Webtek Labs provides various Technical and Non Technical Workshops in Schools on Pan India basis. These workshops are meant for both Students and Teachers.</h4><br>

              <h4>Webtek Labs continuously works on forming better learning systems at the ground level. As an organization the main focus area would be to develop and encourage student to choose better areas of his/her interest. We conduct special training in schools.<hr>
              These training are in:</h4>

              <h4>•Web Security<br>
              •Basic and Advance level in Computers.<br>
              •Personality Development<br>
              •Career Counselling<br>
              </h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="background:#e9e9e9">
              <h1>Apply</h1><hr>
              <%= render "form" %>
            </div>
          </div>
        </div>
      </div>
    </section>