<section>
      <div class="container-fluid workshop_con">
        <div class="container">
          <div class="row">
            <div class="page_heading worshop_heading">WORKSHOP</div>
          </div>
          <div class="row align_center">
            <h1>Corporate workshops, School and College Workshops - by TCS partner Dezignsuite</h1><br>

            <h4>We at Dezignsuite provide Corporate workshops, School and College Workshops. All our workshops are a combination of are power pact knowledge and practical hands on sessions.</h4><br>

            <h4>Our workshops are designed for custimized for the need of the target audience. Our industry expert trainers combine their experience and bring to you fundamental , intermediary and advance level workshops on multiple subjects and topics for professionals, students and faculties.</h4><br>

            <h4>To see more details go to :<br><br>

            • <%=  link_to "<b>College / University workshop</b>".html_safe, college_workshop_path %>
            • <%=  link_to "<b>School Workshop</b>".html_safe, school_workshop_path %>
            • <%=  link_to "<b>Corporate Wrorkshop</b>".html_safe,corporate_workshop_path %></h4><br>
          </div>
        </div>
      </div>
    </section>