<div class="row">
  <div class="col-md-12">
    <div class="col-md-6">
      <h2>Images</h2>
    </div>
    <div class="col-md-6">
      <div class="model_buttons">
        <%= link_to "Add New", new_admin_gallery_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
</br>
<div class="row">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#slides" data-toggle="tab">Slides</a>
    </li>
    <li><a href="#gallery" data-toggle="tab">Gallery</a></li>
  </ul>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="tab-content">
      <div id="slides" class="tab-pane fade in active">
        <%= render "slider",locals: {galleries: @galleries} %>
      </div>
      <div id="gallery" class="tab-pane fade">
        <%= render "gallery",locals: {galleries: @galleries} %>
      </div>
    </div>
  </div>
</div>
