<section>
      <div class="container-fluid joborientedprogram_con">
        <div class="container">
          <div class="row">
            <div class="page_heading joborientedprogram_heading">PROGRAM</div>
            <h1>Job Oriented Program</h1><hr>
            
          </div>
          <div class="row align_justify">
            <div class="col-lg-6 col-md-6 col-sm-6">
              
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="background:#e9e9e9">
              <h1>Apply</h1><hr>
              <%= render "form" %>
            </div>
          </div>
        </div>
      </div>
    </section>