<section>
  <div class="container-fluid program_con">
    <div class="container">
      <div class="row">
        <div class="page_heading program_heading">PROGRAM</div>
      </div>
      <div class="row align_center">
        <h1>Training Program, Corporate Training Program, Job Oriented Program - by TCS partner Dezignsuite</h1><br>

        <h4>We at Dezignsuite provide In House Training Program, Corporate Training Program, Job Oriented Program. All our Programs are a combination of are power pact knowledge and practical hands on sessions.</h4><br>

        <h4>Our Programs are designed for custimized for the need of the target audience. Our industry expert trainers combine their experience and bring to you fundamental , intermediary and advance level workshops on multiple subjects and topics for professionals, students and faculties.</h4><br>

        <h4>To see more details go to :<br><br>

        • <%= link_to "<b>In House Training Program</b>".html_safe,inhouse_training_program_path %>
        • <%= link_to "<b>Corporate Training Program</b>".html_safe, corporate_training_program_path %>
        • <%= link_to "<b>Job Oriented Program</b>".html_safe, joboriented_training_program_path %></h4><br>
      </div>
    </div>
  </div>
</section>