 <footer>
      <div class="container-fluid footer_con1">
        <div class="container align_center margintop">
          <%= image_tag asset_path("toplogo.png"), class: "footer_logo" %><br>
          <button class="footer_up_btn margintop"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
        </div>
      </div>
      <div class="container-fluid footer_con2 margintop paddingbottom">
        <div class="container">
          <div class="col-lg-4 col-md-4 col-sm-4 align_center fontwhite margintop">
            Copyrighht@<a href="http://www.dezignsuitemohali.com/">DezignSuite</a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 align_center fontwhite margintop">
            <a href="https://www.facebook.com/dezignsuiteinc"><i class="fa fa-facebook marginright"></i></a> <a href="https://plus.google.com/106564327958626591899/about"><i class="fa fa-google-plus marginright"></i></a> <a href="https://www.instagram.com/dezignsuiteinc/"><i class="fa fa-instagram marginright"></i></a> <a href="https://www.linkedin.com/in/dezignsuiteinc"><i class="fa fa-linkedin marginright"></i></a>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 align_center fontwhite margintop">
            Designed by <a href="http://nishrana.com/">SibliCode</a>
          </div>
        </div>
      </div>
    </footer>