<section>
      <div class="container-fluid androidcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading androidcourse_heading">COURSES</div>
            <h1>Android Course 6 Weeks/Months</h1><hr>
            <h4 class="align_justify">
                Android is a mobile operating system developed by Google, based on the Linux kernel and designed primarily for touchscreen mobile devices such as smartphones and tablets.<br>
                The latest version is Android 7 Nougat, which will become available for more devices over the coming months. Marshmallow is 6.x, Lollipop is 5.x, and KitKat is version 4.4.x, with 4.3, 4.2 and 4.1 all coming under the codename name Jelly Bean.

            </h4>
            <h3><b>6 Weeks Course</b></h3><hr>
            <h5>
            <b>Android introduction</b>
            <br>•What is Android
            <br>•History and Version
            <br>•Software Stack
            <br>•Core Building Blocks
            <br>•Android Emulator
            <br>•Installing softwares
            <br>•Setup Eclipse
            <br>•Hello Android example
            <br>•Internal Details
            <br>•Dalvik VM
            <br>•AndroidManifest.xml
            <br>•R.java
            <br>•Hide Title Bar<hr>

            <b>Activity and Intent</b>
            <br>•UI Widgets
            <br>•Working with Button
            <br>•Toast
            <br>•Custom Toast
            <br>•ToggleButton
            <br>•CheckBox
            <br>•AlertDialog
            <br>•Spinner
            <br>•AutoCompleteTextView
            <br>•RatingBar
            <br>•DatePicker
            <br>•TimePicker
            <br>•ProgressBar<hr>

            <b>Menus in Android</b>
            <br>•Option Menu
            <br>•Context Menu
            <br>•Popup Menu<hr>


            <b>Service in Android</b>
            <br>•Android Service<hr>


            <b>Data Storage</b>
            <br>•Internal Storage
            <br>•External Storage<hr>


            <b>SQLite Database</b>
            <br>•SQLite Tutorial and Example
            <br>•SQLite Example with GUI by Spinner<hr>


            <b>(6 WEEKS TRAINING)PROJECT WITH ANDROID WIDGETS AND SQLite DATABASE</b><hr>
            </h5>
            <h3><b>6 Months Course</b></h3><hr>
            <h5>
            <b>Android introduction</b>
            <br>•What is Android
            <br>•History and Version
            <br>•Software Stack
            <br>•Core Building Blocks
            <br>•Android Emulator
            <br>•Installing softwares
            <br>•Setup Eclipse
            <br>•Hello Android example
            <br>•Internal Details
            <br>•Dalvik VM
            <br>•AndroidManifest.xml
            <br>•R.java
            <br>•Hide Title Bar<hr>

            <b>Activity and Intent</b>
            <br>•UI Widgets
            <br>•Working with Button
            <br>•Toast
            <br>•Custom Toast
            <br>•ToggleButton
            <br>•CheckBox
            <br>•AlertDialog
            <br>•Spinner
            <br>•AutoCompleteTextView
            <br>•RatingBar
            <br>•DatePicker
            <br>•TimePicker
            <br>•ProgressBar<hr>

            <b>Menus in Android</b>
            <br>•Option Menu
            <br>•Context Menu
            <br>•Popup Menu<hr>


            <b>Service in Android</b>
            <br>•Android Service<hr>


            <b>Data Storage</b>
            <br>•Internal Storage
            <br>•External Storage<hr>


            <b>SQLite Database</b>
            <br>•SQLite Tutorial and Example
            <br>•SQLite Example with GUI by Spinner<hr>

            <b>XML and JSON Parsing</b>
            <br>•XML Parsing SAX
            <br>•XML Parsing DOM
            <br>•XMLPullParser
            <br>•JSON Parsing<hr>


            <b>Android Multimedia</b>
            <br>•Playing Audio in android Example
            <br>•Playing Video in android Example<hr>


            <b>Android Speech API</b>
            <br>•Android TextToSpeech Tutorial
            <br>•TextToSpeech Example with Speed option<hr>


            <b>Telephony API</b>
            <br>•TelephonyManager
            <br>•Get Call State
            <br>•Call State BroadcastReceiver
            <br>•How to make a Phone Call
            <br>•How to Send SMS
            <br>•How to Send Email<hr>


            <b>Device Connectivity</b>
            <br>•Bluetooth Tutorial
            <br>•List Paired Devices<hr>


            <b>Android Sensor Tutorial</b>
            <br>•Android Sensor Tutorial<hr>


            <b>Web Service Tutorial</b>
            <br>•Android Web Service<hr>

            <b>GOOGLE MAPS</b><hr>
            <b>VIEW PAGER</b><hr>
            <b>FRAGMENTATION</b><hr>
            <b>DIFFERENT LAYOUT AND VIEWS</b><hr>

            <b>(6 MONTH TRAINING)PROJECT WITH ANDROID WIDGETS AND ADVANCE TOOLS</b><hr>

            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>