<section>
      <div class="container-fluid bigdatacourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading bigdatacourse_heading">COURSES</div>
            <h1>Bigdata Course</h1><hr>
            <h4 class="align_justify">
                Big data is a term that describes the large volume of data – both structured and unstructured – that inundates a business on a day-to-day basis. But it's not the amount of data that's important. It's what organizations do with the data that matters.<br>
                Big data is a term for data sets that are so large or complex that traditional data processing application software is inadequate to deal with them. Challenges include capture, storage, analysis, data curation, search, sharing, transfer, visualization, querying, updating and information privacy.<br>
                Hadoop is an open-source software framework for storing data and running applications on clusters of commodity hardware. It provides massive storage for any kind of data, enormous processing power and the ability to handle virtually limitless concurrent tasks or jobs.

            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
            <b>•What is Big Data & Why Hadoop?</b><hr>
            <b>•Hadoop Overview & it’s Ecosystem</b><hr>
            <b>•HDFS – Hadoop Distributed File System</b><hr>
            <b>•Map Reduce Anatomy</b><hr>
            <b>•Developing Map Reduce Programs</b><hr>
            <b>•Advanced Map Reduce Concepts</b><hr>
            <b>•Advanced Map Reduce Algorithms</b><hr>
            <b>•Advanced Tips & Techniques</b><hr>
            <b>•Monitoring & Management of Hadoop</b><hr>
            <b>•Using Hive & Pig ( Advanced )</b><hr>
            <b>•HBase</b><hr>
            <b>•NoSQL</b><hr>
            <b>•Sqoop</b><hr>
            <b>•Deploying Hadoop on Cloud</b><hr>
            <b>•Hadoop Best Practices and Use Cases</b><hr>


            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>