<section>
      <div class="container-fluid blog_con">
        <div class="container">
          <div class="row">
            <div class="page_heading blog_heading">BLOG</div>
          </div>
        </div>
      </div>
    </section>