<section>
      <div class="container-fluid businesscourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading businesscourse_heading">COURSES</div>
            <h1>Business Analyst Course</h1><hr>
            <h4 class="align_justify">
                A business analyst (BA) is someone who analyzes an organization or business domain (real or hypothetical) and documents its business or processes or systems, assessing the business model or its integration with technology.<br>
                Business analysis is a research discipline of identifying business needs and determining solutions to business problems. Solutions often include a software-systems development component, but may also consist of process improvement, organizational change or strategic planning and policy development.

            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
 
            <b>Module 1 – 2 weeks</b>
             
            <br>•Introduction to business
            <br>•Introduction to software, web and mobile
            <br>•Introduction to business analysis
            <br>•Grammar and speaking skills<hr>
             
            <b>Module 2 – 6 weeks  </b>
             
            <br>•Software development life cycle
            <br>•Project Documentations and understanding
            <br>•Flow diagrams
            <br>•Software requirement specifications
            <br>•Flow Diagrams
            <br>•Project Case studies
            <br>•Live projects<hr>
             
            <b>Module 3  - 8 weeks</b>
             
            <br>•Prospecting Business
            <br>•Prospecting clients
            <br>•Market Approach
            <br>•Technical feasibility
            <br>•Identifying Sales Funnel
            <br>•Understanding Project Scope
            <br>•Lead Generation
            <br>• E Bidding
            <br>•Tenders
            <br>•Cold Calling Process
            <br>•Pitching
            <br>•Presentations
            <br>•Proposal writing
            <br>•Communications  <hr>
             
            <b>Module 4:  8 weeks</b>
             
            <br>•Live projects or on the job training, stipend based
             
             
            Eligibility Criteria  or Target Market - Btech, BCA, MSC IT, MCA, MBA IT or anyone who wants to start his career in development<hr>
             



            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>