<section>
      <div class="container-fluid cloudcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading cloudcourse_heading">COURSES</div>
            <h1>Networking Course</h1><hr>
            <h4 class="align_justify">
                Cloud computing is a type of computing that relies on sharing computing resources rather than having local servers or personal devices to handle applications.<br>
                In cloud computing, the word cloud (also phrased as "the cloud") is used as a metaphor for "the Internet," so the phrase cloud computing means "a type of Internet-based computing," where different services — such as servers, storage and applications — are delivered to an organization's computers and devices through the Internet.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
            <b>BASIC</b>
            <br>•Introduction to networking
            <br>•Types of network
            <br>•Topologies
            <br>•Networking Components
            <br>•Cabling
            <br>•OSI layer Model
            <br>•Protocols
            <br>•IP Addressing
            <br>•Subnetting
            <br>•Workgroup practical’s
            <br>•Connecting PC’s
            <br>•File server
            <br>•Print Server
            <br>•Remote Desktop Connection
            <br>•Remote Assistance
            <br>•Disk Quota
            <br>•Net Meeting<hr>

            <b>CCNA</b>

            <br>•Basic Router configuration
            <br>•Routing
            <br>•Static Routing
            <br>•Default routing
            <br>•Dynamic Routing
            <br>•VLAN
            <br>•Trunking and multi VLAN 
            <br>•VTP
            <br>•STP
            <br>•Intervlan routing
            <br>•SVI 
            <br>•Securities( Named and numbered ACL)
            <br>•Standard ACL
            <br>•Extended ACL
            <br>•NAT
            <br>•Static NAT
            <br>•Dynamic NAT
            <br>•Overload NAT
            <br>•Wireless implementation
            <br>•PPP
            <br>•FRAME RELAY
            <br>•IPV6<hr>

            <b>PROJECT</b><hr>





            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>