<section>
      <div class="container-fluid contacts_con">
        <div class="container">
          <div class="row">
            <div class="page_heading contacts_heading">CONTACT</div>
          </div>
          <div class="row align_justify">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h1>Training Centres of Dezignsuite</h1><hr>
              <h4>
                <p><b>Dezignsuite - Mohali</b></p>
                <p>C-127, 3rd Floor, OZI Building, Phase-8, Industrial Area, SAS Nagar, Mohali</p>
                <p>
                  <span class="bold_text fontsize_small"><i class="fa fa-mobile fontorange"></i></span> <span class="fontblue fontsize_small">+91-9646498343</span> <span class="bold_text fontsize_small"><i class="fa fa-envelope fontorange"></i></span> <span class="fontblue fontsize_small">nitish.ranag@gmail.com<span class="fontblue">
                </p>
              </h4><hr>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="background:#e9e9e9">
              <h1>Reach Us</h1><hr>
              <form>
                <div class="form-group">
                  <label for="contact_name">Name</label>
                  <input id="contact_name" type="text" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="contact_email">Email</label>
                  <input id="contact_email" type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="contact_phone">Phone</label>
                  <input id="contact_phone" type="number" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                  <label for="contact_mobile">Mobile</label>
                  <input id="contact_mobile" type="number" class="form-control" placeholder="Mobile Number">
                </div>
                <div class="form-group">
                  <label for="contact_msg">Your Message</label>
                  <textarea id="contact_msg" class="form-control" placeholder=""></textarea> 
                </div>
                <input type="button" value="Submit" class="winter_btn backorange" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>