<section>
      <div class="container-fluid digitalcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading digitalcourse_heading">COURSES</div>
            <h1>Digital Marketing Course</h1><hr>
            <h4 class="align_justify">
                Digital marketing (also known as data-driven marketing) is an umbrella term for the marketing of products or services using digital technologies, mainly on the Internet, but also including mobile phones, display advertising, and any other digital medium.<br>
                A Definition of Digital Media Sales. Digital media sales can be defined as the selling of advertising space on digital platforms, such as websites, blogs, digital magazines, and other digital properties.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h4>Basic Module</h4>
            <h5>
            <b>Module 1  -  Getting Started</b> 
            <br>•Introduction to AdWords 
            <br>•Account Management 
            <br>•Campaign and Ad Group Management 
            <br>•A Quick Quiz <hr>
            <b>Module 2  -  Keyword Targeting</b> <hr>
            <b>Module 3  -  Language and Location Targeting </b><hr>
            <b>Module 4  -  Budgets and Bidding </b><hr>
            <b>Module 5  -  Measurement and Optimization - I </b><hr>
            <b>Module 6  -  Measurement and Optimization - II </b>
            <br>•Performance, Profitability, and Growth - I<hr>
            </h5>
            <h4>Advanced Module</h4>
            <h5>
            <b>Module 7  -  Managing Multiple Accounts </b>
            <br>•Search Fundamentals Review 
            <br>•Ad Formats <hr>
            <b>Module 8  -  Ad and Site Quality </b>
            <br>•AdWords Tools <hr>
            <b>Module 9  -  Performance Monitoring and Reporting </b>
            <br>•Optimizing Performance 
            <br>•Performance, Profitability, and Growth 
            <br>•AdWords API <hr>
            <b>Module 10 -  The Google Display Network</b> <hr>
            <b>Module 11 -  Display Ads on YouTube </b>
            <br>•Display and Video Ads on Mobile Devices<hr>

            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>