<section>
      <div class="container-fluid netcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading netcourse_heading">COURSES</div>
            <h1>.Net Course 6 Weeks/Months</h1><hr>
            <h4 class="align_justify">
                Programmers produce software by combining their source code with .NET Framework and other libraries. The framework is intended to be used by most new applications created for the Windows platform. Microsoft also produces an integrated development environment largely for .NET software called Visual Studio.<br>
                To start at the very beginning, C# is a modern language created by Microsoft as part of its .NET platform of languages. . NET is a layer of software that makes it easier for you to write programs that can communicate with the operating system (in this case, Windows).
            </h4>
            <h3><b>6 Weeks Course</b></h3><hr>
            <h5>
            <b>.NET ENTERPRISE ARCHITECTURE 4.5</b><br>

            •Introduction to the .NET platform<br>
            •Common Language Run Time (CLR)<br>
            •The Common Type Specification (CTS)<br>
            •The Common Language Specifications (CLS)<br>
            •Microsoft Intermediate Language (MSIL)<br><hr>

            <b>C#.NET Language Basics</b><br>

            •Data Types -Type Conversion<br>
            •Boxing & Unboxing<br>
            •Conditional Statements<br>
            •Looping<br>
            •Methods in C#<br>
            •Properties<br>
            •Arrays<br>
            •Indexers<br>
            •Structures, Enumerations<br>
            •Strings<br>
            •Collections<br><hr>

            <b>Objects Oriented Programming</b><br>

            •Oops Concepts<br>
            •Encapsulation<br>
            •Inheritance<br>
            •Polymorphism<br>
            •Class and Object<br>
            •Constructors<br>
            •Dynamic types<br>
            •Optional parameters<br>
            •Names & optional arguments<br>
            •Covariant generic type parameters<br>
            •Destructors<br>
            •Method overloading<br>
            •Method overriding<br>
            •Early binding, Late Binding<br>
            •Abstract Classes<br>
            •Abstract Methods<br>
            •Interfaces<br>
            •Multiple Inheritance<br>
            •Generic classes<br>
            •Static classes<br>
            •Static constructors<br>
            •Object initializer<br>
            •Collection Initializer<br>
            •Extension Methods<br>
            •Partial Classes & Methods<br><hr>

            <b>Memory Management</b><br>

            •Garbage Collector<br>
            •Stack.and Heap<br>
            •System. GC Class<br>
            •System. Object Class<br>
            •Architecture of Gc<br><hr>

            <b>Exception Handling</b><br>

            •System Defined Exceptions<br>
            •Custom Exceptions<br>
            •Try, Catch, Finally<br>
            •Throwing exceptions<br><hr>

            <b>Operator Overloading GUI Application Development</b><br>

            •Windows forms and Controls<br>
            •Creating Menus<br>
            •Toolbars, Image List<br>
            •Tree view, List view<br>
            •Notify Icon<br>
            •Error Provider<br><hr>

            <b>Data Base Programming (ADO.NET)</b><br>

            •ADO .NET Introduction<br>
            •Data Providers in .Net<br>
            •Introduction to Managed and Unmanaged Providers<br>
            •Data Readers- Dataset and Data Adapters<br>
            •Datagrid View with DML operations sorting and paging etc.<br>
            •Creating Relations and Transactions<br>
            •Linq programming<br>
            •Stored procedures<br><hr>

            <b>ASSEMBLIES</b><br>

            •Private Assemblies<br>
            •Shared Assemblies<br>
            •Global Assembly Cache (GAG)<br><hr>

            <b>Delegates</b><br>

            •Function Pointers<br>
            •Multi cast delegates<br><hr>

            <b>User Controls and Event Handling</b><br>

            •User Defined Control<br>
            •Inherited Control<br>
            •Event handling<br><hr>

            <b>Pointers</b><br>

            •Value types, Reference types<br>
            •Unsafe Structures and Pointers<br><hr>

            <b>Distributed Technologies & .NET Remoting</b><br>

            •Distributed architecture<br>
            •DCOM, RMI, CORBA<br>
            •Channels (TCP HTTP) Marshal by Value<br>
            •Marshal by Reference<br>
            •Server Activated<br>
            •Client Activated<br>
            •Remoting Architecture<br><hr>

            <b>File Handling</b><br>

            •System .IO namespace<br>
            •File stream<br>
            •Stream Reader<br>
            •Stream writer<br>
            •Fileinfo<br>
            •Directory info<br><hr>

            <b>Windows Services</b><br>

            •Service base class <br>      
            •Service Process installer<br>
            •Service Installer<br>
            •Creating a Windows Service<br>
            •Installutill .exe<br><hr>

            <b>Multi threading</b><br>
            •Threading<br>
            •Thread synchronization<br>
            •Critical sections<br>
            •Thread life cycle<br><hr>

            <b>Security in .NET</b><br>

            •Cryptography<br>
            •Role based security VB.NET<br><hr>

            <b>LOCALIZATION AND GLOBALIZATION</b><br>

                  •Resource file creation<br>
            •Satelite Assembly Creation<br>
            •Creating Globalization App and Localization App<br><hr>
             
            <b>WPF Programming</b><br>

            • Shapes<br>
            •Transformation<br>
            • Animation<br>
             

            </h5>
            <h3><b>6 Months Course</b></h3><hr>
            <h5>
            <b>.NET ENTERPRISE ARCHITECTURE 4.5</b>

            <br>•Introduction to the .NET platform
            <br>•Common Language Run Time (CLR)
            <br>•The Common Type Specification (CTS)
            <br>•The Common Language Specifications (CLS)
            <br>•Microsoft Intermediate Language (MSIL)<hr>

            <b>C#.NET Language Basics</b>

            <br>•Data Types -Type Conversion
            <br>•Boxing & Unboxing
            <br>•Conditional Statements
            <br>•Looping
            <br>•Methods in C#
            <br>•Properties
            <br>•Arrays
            <br>•Indexers
            <br>•Structures, Enumerations
            <br>•Strings
            <br>•Collections<hr>

            <b>Objects Oriented Programming</b>

            <br>•Oops Concepts
            <br>•Encapsulation
            <br>•Inheritance
            <br>•Polymorphism
            <br>•Class and Object
            <br>•Constructors
            <br>•Dynamic types
            <br>•Optional parameters
            <br>•Names & optional arguments
            <br>•Covariant generic type parameters
            <br>•Destructors
            <br>•Method overloading
            <br>•Method overriding
            <br>•Early binding, Late Binding
            <br>•Abstract Classes
            <br>•Abstract Methods
            <br>•Interfaces
            <br>•Multiple Inheritance
            <br>•Generic classes
            <br>•Static classes
            <br>•Static constructors
            <br>•Object initializer
            <br>•Collection Initializer
            <br>•Extension Methods
            <br>•Partial Classes & Methods<hr>

            <b>Memory Management</b>

            <br>•Garbage Collector
            <br>•Stack.and Heap
            <br>•System. GC Class
            <br>•System. Object Class
            <br>•Architecture of Gc<hr>

            <b>Exception Handling</b>

            <br>•System Defined Exceptions
            <br>•Custom Exceptions
            <br>•Try, Catch, Finally
            <br>•Throwing exceptions<hr>

            <b>Operator Overloading GUI Application Development</b>

            <br>•Windows forms and Controls
            <br>•Creating Menus
            <br>•Toolbars, Image List
            <br>•Tree view, List view
            <br>•Notify Icon
            <br>•Error Provider<hr>

            <b>Data Base Programming (ADO.NET)</b>

            <br>•ADO .NET Introduction
            <br>•Data Providers in .Net
            <br>•Introduction to Managed and Unmanaged Providers
            <br>•Data Readers- Dataset and Data Adapters
            <br>•Datagrid View with DML operations sorting and paging etc.
            <br>•Creating Relations and Transactions
            <br>•Linq programming
            <br>•Stored procedures<hr>

            <b>ASSEMBLIES</b>

            <br>•Private Assemblies
            <br>•Shared Assemblies
            <br>•Global Assembly Cache (GAG)<hr>

            <b>Delegates</b>

            <br>•Function Pointers
            <br>•Multi cast delegates<hr>

            <b>User Controls and Event Handling</b>

            <br>•User Defined Control
            <br>•Inherited Control
            <br>•Event handling<hr>

            <b>Pointers</b>

            <br>•Value types, Reference types
            <br>•Unsafe Structures and Pointers<hr>

            <b>Distributed Technologies & .NET Remoting</b>

            <br>•Distributed architecture
            <br>•DCOM, RMI, CORBA
            <br>•Channels (TCP HTTP)         Marshal by Value
            <br>•Marshal by Reference
            <br>•Server Activated
            <br>•Client Activated
            <br>•Remoting Architecture<hr>

            <b>File Handling</b>

            <br>•System .IO namespace
            <br>•File stream
            <br>•Stream Reader
            <br>•Stream writer
            <br>•Fileinfo
            <br>•Directory info<hr>

            <b>Windows Services</b>

            <br>•Service base class       
            <br>•Service Process installer
            <br>•Service Installer
            <br>•Creating a Windows Service
            <br>•Installutill .exe<hr>

            <b>Multi threading</b>
            <br>•Threading
            <br>•Thread synchronization
            <br>•Critical sections
            <br>•Thread life cycle<hr>

            <b>Security in .NET</b>

            <br>•Cryptography
            <br>•Role based security VB.NET<hr>

            <b>LOCALIZATION AND GLOBALIZATION</b>

                  <br>•Resource file creation
            <br>•Satelite Assembly Creation
            <br>•Creating Globalization App and Localization App<hr>
             
            <b>WPF Programming</b>

            <br>• Shapes
            <br>•Transformation
            <br>• Animation
              server controls
            <br>•Validation Controls
            <br>•ASP.NET Page Execution Architecture<hr>

            <b>THEME AND SKIN STATE MANAGEMENT</b>

            <br>•Cookies
            <br>•Session State
            <br>•Session Tracking Arch
            <br>•Application object
            <br>•Session and App events
            <br>•Global. AJAX
            <br>•Viewstate<hr>

            <b>ADO.NET</b>

            <br>•Intro to ADO.NET Providers
            <br>•Data Reader
            <br>•Dataset
            <br>•Datalist
            <br>•Repeater
            <br>•Datasource Controls
            <br>•Gride view
            <br>•Details view
            <br>•List view<hr>
            <b>LINQ CACHING</b>

            <br>•Importance of Caching-
            <br>•ASP 4.5 Support for Caching
            <br>•Type of Caching in ASP.NET
            <br>•Output Caching
            <br>•Web user control(VS) custom control
            <br>•Fragment caching
            <br>•Data caching vs Application object<hr>

            <b>ASP.NET CONFIGURATION</b>

            <br>•Machine config vs Web config
            <br>•App Settings
            <br>•Compilation setting
            <br>•Custom error setting
            <br>•Session State Setting
            <br>•Enhancement in ASP.NET
            <br>•Inprocess VS out process session state
            <br>•State server and SQL Server
            <br>•Cookie less session<hr>

            <b>ASP.NET TRACING</b>

            <br>•Page Level
            <br>•Application Level<hr>

            <b>E-mail Server SECURITY IN ASP.NET</b>

            <br>•Authentication & Authorization
            <br>•Windows Based Authentication
            <br>•Form Based Authentication
            <br>•Passport Authentication
            <br>•Membership<hr>

            <b>XML WEB SERVICES</b>

            <br>•Intro to Web Services
            <br>•Role of WSDL .NET support for XML Web Service
            <br>•Client Apps for Web Service
            <br>•Caching Web Service
            <br>•SOAP
            <br>•UDDI Registry<hr>





            <b>WCF MASTER PAGES SITE NAVIGATION WEB PARTS</b>

            <br>•Web part manager
            <br>•Zone Types<br><hr>



            <b>MAJOR PROJECT</b><hr>

            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>