<section>
      <div class="container-fluid embeddedcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading embeddedcourse_heading">COURSES</div>
            <h1>Embedded System & Robotics Course</h1><hr>
            <h4 class="align_justify">
                An embedded system is a computer system with a dedicated function within a larger mechanical or electrical system, often with real-time computing constraints. It is embedded as part of a complete device often including hardware and mechanical parts.<br>
                Another name for many of these systems is reactive systems, because their primary purpose is to respond to or react to signals from their environment. A real-time computer system may be a component of a larger system in which it is embedded; reasonably, such a computer component is called an embedded system.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
              
              <br>•Basic embedded C
              <br>•80c51 programming in C
              <br>•I/O programming in C
              <br>•Logical Operation in c<hr>

              <b>Hardware Interfacing</b>
              <br>•LED interfacing and programming
              <br>•LED matrix interfacing and programming
              <br>•Graphical interfacing and programming
              <br>•Seven segment display interfacing and programming
              <br>•Keypad interfacing and programming
              <br>•Dc motor interfacing and programming
              <br>•Stepper motor interfacing and programming
              <br>•Relay interfacing and programming
              <br>•Buzzer interfacing and programming
              <br>•ADC 0804 interfacing and programming
              <br>•ADC 0808 interfacing and programming
              <br>•Timer interfacing and programming
              <br>•Serial interfacing rs 232 and DB9 interfacing and programming
              <br>•Interrupts interfacing and programming<hr>

              <b>Types of Sensor</b>
              <br>•Introduction to Sensing Devices
              <br>•IR sensor
              <br>•Light searching sensor
              <br>•Temperature sensor
              <br>•Touch sensor
              <br>•Motion sensor<hr>
              <b>Arduino with all interfacing</b>
              <br>•GSM interfacing and programming
              <br>•GPS interfacing and programming
              <br>•Xbee interfacing<hr>

              <br>•Mini Projects


            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>