<section>
      <div class="container-fluid enterpriseservices_con">
        <div class="container">
          <div class="row">
            <div class="page_heading enterpriseservices_heading">SERVICES</div>
          </div>
          <div class="row align_justify">
            <%= image_tag asset_path('graphic5.jpg'), class: "img-responsive marginauto" %>
            <h4>Mobility gives you the advantage that your company's information and website can be accessed easily on mobile devices. Dezignsuite Mobile Development team builds websites for you that are compatible on mobile devices allowing information to be accessible and presentable to the mobile user.</h4><hr>
            <h2>
              Mobile Application Development
            </h2><hr>
            <h4>
              With the increase in mobility in the form of smart phones, tablets and the time spent on these devices, there is an increasing popularity in development of the number of mobile applications. Dezignsuite team of mobile developers can create apps to engage your user base. We have developed numerous applications for entertainment, gaming, sales and information purposes for clients in India, USA, UK on various platforms for Android, Bkackberry, Nokia and iPhones.
            </h4><hr>
            <h2>
              Mobile Application Testing
            </h2><hr>
            <h4>
              We test the functionality and usability of mobile application to test its overall performance.<br><br>

              <b>Our Services include:-</b><br>

              •Mobile Website Development<br>
              •Mobile Application Development<br>
              •Mobile Application Testing<br>
            </h4><br>
          </div>
        </div>
      </div>
    </section>