<section>
      <div class="container-fluid ioscourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading ioscourse_heading">COURSES</div>
            <h1>iOS Course</h1><hr>
            <h4 class="align_justify">
                iOS is the mobile operating system that runs on Apple’s mobile devices, i.e. iPhones and iPads. It’s the main software that allows you to interact with your Apple phone or tablet.<br>
                Crucially, iOS also allows you to run any apps that you download from the App Store. While your apps are running, iOS does all the hard work, managing your iPhone or iPad's memory to ensure that the device runs smoothly.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
            <b>PRE-REQUISITE</b>
            <br>•C, C++ Programming
            <br>•PL SQL<hr>
            <b>MODULE 1 [Fundamentals]</b><hr>
            <b>MODULE 2 [Learning the Language (Objective C)]</b>
            <br>•Data Types
            <br>•NSInteger
            <br>•NSNumber  
            <br>•Operators
            <br>•Loop 
            <br>•Intro to .H and .M Files
            <br>•Inheritance  
            <br>•Method Overloading
            <br>•Mutable and Immutable Strings  
            <br>•Mutable and Immutable Arrays
            <br>•File Management<hr>
            <b>MODULE 3 [iPhone OS]</b>
            <br>•Introduction to iPhone Architecture
            <br>•Essential COCOA Touch Classes
            <br>•Interface Builder
            <br>•Nib File and Story Board
            <br>•COCOA and MVC Framework<hr>
            <b>MODULE 4 [Application Development In iPhone]</b>
            <br>•Controls and Gestures
            <br>•Controllers and Memory Management
            <br>•Using Application Delegate <br>•Connecting Outlets
            <br>•Managing Application Memory
            <br>•Advance Controllers Programming
            <br>•Views (Alert View, Table Views, Picker, Date
            <br>•and Time, Image)
            <br>•Navigation Based Application Development
            <br>•Tab Bar and Tool Bar
            <br>•Audio and Video
            <br>•Releasing Memory
            <br>•Animation and 2-D Graphics
            <br>•Email Sending
            <br>•XML Parsing
            <br>•JSON Parsing
            <br>•Web Services Integration<hr>
            <b>MODULE 5 [Database]</b>
            <br>•SQLite
            <br>•Creating Outlets and Actions
            <br>•Parsing Data with SQLite<hr>
            <b>MODULE 6 [Applicability to Industrial Projects]</b>
            <br>•Project Scope
            <br>•Database Dictionary
            <br>•Flow Chart
            <br>•High Level Requirements
            <br>•Location Mapping
            <br>•Deployment
            <br>•Integration to Web services
            <br>•Application Integration
            <br>•Launching other Applications<hr>

            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>