<section>
      <div class="container-fluid javacourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading javacourse_heading">COURSES</div>
            <h1>Java Course</h1><hr>
            <h4 class="align_justify">
                Java is a general-purpose computer programming language that is concurrent, class-based, object-oriented, and specifically designed to have as few implementation dependencies as possible.<br>
                Java was designed to have the look and feel of the C++ language, but it is simpler to use than C++ and enforces an object-oriented programming model. Java can be used to create complete applications that may run on a single computer or be distributed among servers and clients in a network
            </h4>
            <h3><b>6 Weeks Course</b></h3><hr>
            <h5>
            <b>Introduction to Java programming</b>
            <br>•The Java Virtual Machine
            <br>•Variables and data types
            <br>•Conditional and looping constructs
            <br>•Arrays<hr>

            <b>Object-oriented programming with Java Classes and Objects</b>
            <br>•Fields and Methods
            <br>•Constructors
            <br>•Overloading methods
            <br>•Garbage collection
            <br>•Nested classes<hr>
            <b>Inheritance</b>
            <br>•Overriding methods
            <br>•Polymorphism
            <br>•Making methods and classes final
            <br>•Abstract classes and methods
            <br>•Interfaces<hr>

            <b>Exception handling with try-throw-catch-finally construct</b>
            <br>•The Exception class<hr>
            <b>Chapter 5: The Object class</b>
            <br>•Cloning objects
            <br>•The JDK LinkedList class
            <br>•Strings
            <br>•String conversions<hr>
            <b>Packages</b>
            <br>•Package access
            <br>•Documentation comments<hr>

            <b>Applets</b>
            <br>•Configuring applets
            <br>•Applet capabilities and restrictions<hr>

            <b>Basics of AWT and Swing</b>
            <br>•Layout Managers
            <br>•Event Handling
            <br>•The Action Listener interface
            <br>•Panels
            <br>•Classes for various controls, such as label, choice, list,
            <br>•Checkbox, etc.
            <br>•Dialogs and frames
            <br>•Using menus
            <br>•Using the adapter classes
            <br>•Graphics<hr>

            <b>Threads</b>
            <br>•Synchronisation<hr>

            <b>The I/O Package</b>
            <br>•InputStream and OutputStream classes
            <br>•Reader andWriter classes<hr>

            <b>Basic concepts of networking</b>
            <br>•Working with URLs
            <br>•Concepts of URLs
            <br>•Sockets<hr>

            <b>Database connectivity with JDBC</b>
            <br>•Java security<hr>
            </h5>
            <h3><b>6 Months Course</b></h3><hr>
            <h5>
              <b>Java Database Connectivity</b>
              <br>•JDBC Product
              <br>•Types of Drivers
              <br>•Two-Tier Client/Server Model
              <br>•Three-Tier Client/Sever Model
              <br>•Basic Steps of JDBC
              <br>•Creating and Executing SQL Statement
              <br>•The Result Set Object
              <br>•Working with Database MetaData
              <br>•Interface<hr>

              <b>Servlets</b>
              <br>•Servlet Interaction & Advanced Servlets
              <br>•Life cycle of Servlet
              <br>•Java Servlet Development Kit
              <br>•Javax.servlet package
              <br>•Reading Servlet Parameters
              <br>•Reading Initialization Parameters
              <br>•The javax.servlet.http Package
              <br>•Handling HTTP<hr>

              <b>JavaServer Pages</b>
              <br>•JSP Technologies
              <br>•Understanding the Client-Server Model
              <br>•Understanding Web server software
              <br>•Configuring the JSP Server
              <br>•Handling JSP Errors
              <br>•JSP Translation Time Errors
              <br>•JSP Request Time Errors
              <br>•Creating a JSP Error Page<hr>

              <b>XML</b>
              <br>•What is XML?
              <br>•XML Syntax Rules<hr>

              <b>Structs</b>
              <br>•Introduction to the Apache Struts
              <br>•MVC Architecture
              <br>•Struts Architecture
              <br>•How Struts Works?
              <br>•Introduction to the Struts Controller
              <br>•Introduction to the Struts Action Class
              <br>•Using Struts ActionFrom Class
              <br>•Using Struts HTML Tags
              <br>•Introduction to Struts Validator Framework
              <br>•Client Side Address Validation in Struts
              <br>•Custom Validators Example
              <br>•Developing Application with Struts Tiles<hr>

              <b>Hibernate</b>
              <br>•Introduction to Hibernate 3.0
              <br>•Hibernate Architecture
              <br>•First Hibernate Application

            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>