<section>
      <div class="container-fluid networkingcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading networkingcourse_heading">COURSES</div>
            <h1>Networking Course</h1><hr>
            <h4 class="align_justify">
                In information technology, networking is the construction, design, and use of a network, including the physical (cabling, hub, bridge, switch, router, and so forth), the selection and use of telecommunication protocol and computer software for using and managing the network, and the establishment of operation policies and procedures related to the network.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
            <b>CCNA Based Contents</b>
            <br>•Introduction To Computer Networks
            <br>•LAN Structure and Cabling
            <br>•OSI Model
            <br>•TCP/IP Model
            <br>•IP Addressing FLSM, VLSM , Subnetting
            <br>•Basic Router Fundamentals 
            <br>•Routing 
            <br>•Routing Protocols RIP, RIP V2, EIGRP, IGRP, OSPF
            <br>•Exterior Routing Protocols
            <br>•Access Control List
            <br>•Point to Point Security
            <br>•NAT PAT
            <br>•Switch Fundamentals
            <br>•Switching Methods
            <br>•VLAN 
            <br>•Intra VLAN
            <br>•Trunking  
            <br>•IP V6 
            <br>•WI-FI Setup
            <br>•PROJECT- Case Studies<hr>
            <b>Server Base Contents</b>
            <br>•Server Setups Installing Windows Server 2008
            <br>•Planning Storage Solution
            <br>•Planning Application Server and Services
            <br>•Overview of Active Directory Domain Services
            <br>•Designing and Implementing the AD Deployment
            <br>•Planning Infrastructure Services
            <br>•Configuring and Managing the DNS Server Role
            <br>•Configuring and Managing the DHCP Server Role
            <br>•Planning Security and Active Directory Administration
            <br>•Introduction to Group Policy
            <br>•Planning and Configuring Group Policy Environment
            <br>•Planning Server Deployments
            <br>•Working with Active Directory Sites
            <br>•Planning File Services
            <br>•Configuring File Security
            <br>•Maintaining Windows Server 2008 File Services
            <br>•Planning Print Services
            <br>•Configuring Routing, Remote Access and Wireless Networking
            <br>•Maintaining Network Health
            <br>•Planning Server and Network Security
            <br>•Securing Data Transmission and Authentication
            <br>•Planning for High Availability
            <br>•Active Directory Maintenance
            <br>•AD Monitoring and Troubleshooting
            <br>•PROJECT relating Network Infrastructure.
<hr>




            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>