<section>
      <div class="container-fluid oraclecourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading oraclecourse_heading">COURSES</div>
            <h1>Oracle - DBA Course</h1><hr>
            <h4 class="align_justify">
                Oracle Database developers have a choice of languages for developing applications—C, C++, Java, COBOL, PL/SQL, and Visual Basic. The entire functionality of the database is available in all the languages. All language-specific standards are supported.<br>
                Structured Query Language (SQL) is the set of statements with which all programs and users access data in an Oracle database. Application programs and Oracle tools often allow users access to the database without using SQL directly, but these applications in turn must use SQL when executing the user's request.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
              <b>SQL</b>
              <br>•Retrieving DATA using the SQL  select statement.
              <br>•Restricting and sorting DATA.
              <br>•Using single–Row function to customize outputs.
              <br>•Using conversion functions and conditional expressions.
              <br>•Reporting aggregated DATA using the group functions.
              <br>•Displaying data from multiple tables using JOINS.
              <br>•Using subqueries to solve queries.
              <br>•Using the set operators.
              <br>•Manipulating DATA.
              <br>•Using DDL statements to create and manage tables.
              <br>•Creating other schema objects.<hr>

              <b>Admin 1</b>
              <br>•Exploring the Oracle Database Architecture.
              <br>•Installing your Oracle software on Linux & windows platform.
              <br>•Creating an Oracle Database Using DBCA.
              <br>•Managing the Database Instance.
              <br>•Managing the ASM Instance.
              <br>•Configuring the Oracle Network Environment.
              <br>•Managing Database Storage Structures.
              <br>•Administering User Security.
              <br>•Managing Data Concurrency.
              <br>•Managing Undo Data.
              <br>•Implementing Oracle Database Auditing.
              <br>•Database Maintenance.
              <br>•Performance Management.
              <br>•Backup and Recovery Concepts.
              <br>•Performing Database Backups.
              <br>•Performing Database Recovery.
              <br>•Moving Data.
              <br>•Working with Support.<hr>
              <b>Admin 2</b>
              <br>•Core Concepts and Tools of the Oracle Database.
              <br>•Configuring for Recoverability.
              <br>•Using the RMAN Recovery Catalog.
              <br>•Configuring Backup Settings.
              <br>•Creating Backups with RMAN.
              <br>•Restore and Recovery Tasks.
              <br>•Using RMAN to perform Recovery.
              <br>•Monitoring and tuning RMAN.
              <br>•Diagnosing the Database.
              <br>•Using Flashback Technology I.
              <br>•Using Flashback Technology II.
              <br>•Performing Flashback Database.
              <br>•Managing Memory.
              <br>•Managing Database Performance.
              <br>•Managing Performance by SQL Tuning.
              <br>•Managing Resources.
              <br>•Automating Tasks with the Scheduler.
              <br>•Managing Space.
              <br>•Managing Space for the Database.
              <br>•Duplicating a Database.


            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>