<section>
      <div class="container-fluid payperclickservices_con">
        <div class="container">
          <div class="row">
            <div class="page_heading payperclickservices_heading">SERVICES</div>
          </div>
          <div class="row align_justify">
            <%= image_tag asset_path('graphic5.jpg'), class: "img-responsive margin_auto" %>
            <h4>Pay per Click is a way of internet advertising, if done properly the returns on investment can come instantly.We understand our customer and their business and use Google Adwords to get you results on the advertising spent.
            </h4><br>
                        
          </div>
        </div>
      </div>
    </section>