<section>
      <div class="container-fluid phpcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading phpcourse_heading">COURSES</div>
            <h1>PHP Course</h1><hr>
            <h4 class="align_justify">
                PHP is a general-purpose scripting language that is especially suited to server-side web development, in which case PHP generally runs on a web server. Any PHP code in a requested file is executed by the PHP runtime, usually to create dynamic web page content or dynamic images used on websites or elsewhere.<br>
                PHP is mainly focused on server-side scripting, so you can do anything any other CGI program can do, such as collect form data, generate dynamic page content, or send and receive cookies. But PHP can do much more. There are three main areas where PHP scripts are used. Server-side scripting.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
            <b>Introduction to PHP and Basic Syntax</b>
            <br>•Evaluation of Php
            <br>•Basic Syntax
            <br>•Defining variable and constant
            <br>•Php Data type
            <br>•Operator and Expression:-
            <br>•Arithmetic Operators
            <br>•Assignment Operators
            <br>•Incrementing/Decrementing Operators
            <br>•Relational ( Comparison ) Operators
            <br>•Logical Operators
            <br>•Array Operators
            <br>•Bitwise Operators
            <br>•Ternary Operator
            <br>•Default Operator
            <br>•Associative Operator
            <br>•MOD Operator
            <br>•Operator Precedence and Associativity<hr>

            <b>PHP Variables, Global Array and Expression :-</b>

            <br>•Types of data in PHP: integers, string, floating data, Booleans, arrays e<br>•.
            <br>•constant and variables
            <br>•Difference between PHP variables and constant with example
            <br>•Important Rules for declaring PHP variables
            <br>•variable size in terms of characters
            <br>•strings
            <br>•User-defined Constants
            <br>•String constants , variable interpolation into strings
            <br>•PHP Global arrays<hr>

            <b>Handling Html Form with PHP :-</b>

            <br>•Generating File uploaded form
            <br>•Redirecting a form after submission
            <br>•PHP Conditional Events and Switch case :-
            <br>•IF Condition with optional Else
            <br>•IF and Else with condition and example
            <br>•multiple IF with else condition
            <br>•Nested IF and Else Condition
            <br>•Switch case in replacement of Nested IF
            <br>•Default case in Switch Case<hr>

            <b>Decisions and loop :-</b>

            <br>•Making Decisions
            <br>•looping
            <br>•Mixing Decisions and looping with Html<hr>

            <b>Function :-</b>

            <br>•What is a function
            <br>•Define a function
            <br>•Call by value and Call by reference
            <br>•Recursive function<hr>

            <b>String :-</b>

            <br>•Creating and accessing String
            <br>•Searching & Replacing String
            <br>•Formatting String
            <br>•String Related Library function<hr>

            <b>Array :-</b>

            <br>•Creating index based and Associative array
            <br>•Accessing array Element
            <br>•Looping with Index based array
            <br>•Looping with associative array using each( ) and foreach( )
            <br>•Some useful Library function<hr>

            <b>Working with file and Directories :-</b>

            <br>•Understanding file& directory
            <br>•Opening and closing a file
            <br>•Coping ,renaming and deleting a file
            <br>•Working with directories
            <br>•Building a text editor
            <br>•File Uploading & Downloading
            <br>•Types of Error in PHP :-
            <br>•Understand the Basic syntax and Parse error
            <br>• Know the different Notice error in PHP
            <br>•Warning errors in PHP
            <br>•Fatal error in PHP
            <br>•Difference Between fatal error and warning with example<hr>

            <b>State management :-</b>

            <br>•Using cookies
            <br>•Using session
            <br>•Generating Images with PHP :-
            <br>•Creating Image
            <br>•Manipulating Image
            <br>•Using text in Image<hr>

            <b>MySQL Database Training</b>
            <br>•What is Database ?
            <br>•Understanding an RDBMS
            <br>•Understanding Tables, Records, and Fields
            <br>•SQL Language
            <br>•Using the MySQL Command-Line Client
            <br>•Working with MySQL Admin
            <br>•Working with PHP MyAdmin
            <br>•Creating Databases
            <br>•Types of Databases
            <br>•Creating Tables in Database
            <br>•Specifying Field Data Types
            <br>•Selecting the Most Appropriate Data Type
            <br>•Adding Field Modifiers and Keys
            <br>•Selecting a Table
            <br>•Altering Table and Field Names
            <br>•Altering Field Properties
            <br>•Adding and Removing Fields
            <br>•BackUp of Databases
            <br>•Dropping Databases and Tables
            <br>•Viewing Database, Table, and Field Information SQL Queries
            <br>•Filtering Records with a WHERE Clause
            <br>•Using Operators
            <br>•Sorting Records and Eliminating Duplicates
            <br>•Using Built-In Functions
            <br>•Grouping Records
            <br>•Joining Tables
            <br>•Using Subqueries<hr>
            <b>Major Project</b><hr>

             <b>CMS</b>
            <br>•WordPress
            <br>•Yii Framework<hr>
            <b>Major Project in CMS</b><hr>


            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>