<section>
      <div class="container-fluid pythoncourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading pythoncourse_heading">COURSES</div>
            <h1>Python Course</h1><hr>
            <h4 class="align_justify">
                Python is a powerful high-level, object-oriented programming language created by Guido van Rossum. It has simple easy-to-use syntax, making it the perfect language for someone trying to learn computer programming for the first time.<br>
                Python is a general purpose programming language created in the late 1980s, and named after Monty Python, that's used by thousands of people to do things from testing microchips at Intel, to powering Instagram, to building video games with the PyGame library.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h4>Basic Python</h4>
            <h5>
            <b>Introduction</b>

             <br>•History 
             <br>•Features 
             <br>•Setting up path 
             <br>•Working with Python 
             <br>•Basic Syntax 
             <br>•Variable and Data Types 
             <br>•Operator<hr>
            <b>Conditional Statements</b>

             <br>•If 
             <br>•If- else 
             <br>•Nested if-else<hr>
            <b>Looping</b>

             <br>•For 
             <br>•While 
             <br>•Nested loops<hr>
            <b>Control Statements</b>

             <br>•Break 
             <br>•Continue 
             <br>•Pass<hr>
            <b>String Manipulation</b>

             <br>•Accessing Strings 
             <br>•Basic Operations 
             <br>•String slices 
             <br>•Function and Methods<hr>
            <b>Lists</b>

             <br>•Introduction 
             <br>•Accessing list 
             <br>•Operations 
             <br>•Working with lists 
             <br>•Function and Methods<hr>
            <b>Tuple</b>

             <br>•Introduction 
             <br>•Accessing tuples 
             <br>•Operations 
             <br>•Working 
             <br>•Functions and Methods<hr>
            <b>Dictionaries</b>

             <br>•Introduction 
             <br>•Accessing values in dictionaries 
             <br>•Working with dictionaries 
             <br>•Properties 
             <br>•Functions<hr>
            <b>Functions</b>

             <br>•Defining a function 
             <br>•Calling a function 
             <br>•Types of functions 
             <br>•Function Arguments 
             <br>•Anonymous functions 
             <br>•Global and local variables<hr>
            <b>Modules</b>

             <br>•Importing module 
             <br>•Math module 
             <br>•Random module 
             <br>•Packages 
             <br>•Composition<hr>
            <b>Input-Output</b>

             <br>•Printing on screen 
             <br>•Reading data from keyboard 
             <br>•Opening and closing file 
             <br>•Reading and writing files 
             <br>•Functions<hr>
            <b>Exception Handling</b>

             <br>•Exception 
             <br>•Exception Handling 
             <br>•Except clause 
             <br>•Try ? finally clause 
             <br>•User Defined Exceptions<hr>

            </h5>
            <h4>Advance Python</h4>
            <h5>
            <b>OOPs concept</b>

             <br>•Class and object 
             <br>•Attributes 
             <br>•Inheritance 
             <br>•Overloading 
             <br>•Overriding 
             <br>•Data hiding <hr>
            <b>Regular expressions</b>

             <br>•Match function 
             <br>•Search function 
             <br>•Matching VS Searching 
             <br>•Modifiers 
             <br>•Patterns<hr>
            <b>CGI</b>

             <br>•Introduction 
             <br>•Architecture 
             <br>•CGI environment variable
             <br>•GET and POST methods 
             <br>•Cookies 
             <br>•File upload<hr>
            <b>Database</b>

             <br>•Introduction 
             <br>•Connections 
             <br>•Executing queries 
             <br>•Transactions 
             <br>•Handling error<hr>
            <b>Networking</b>

             <br>•Socket 
             <br>•Socket Module 
             <br>•Methods 
             <br>•Client and server 
             <br>•Internet modules<hr>
            <b>Multithreading</b>

             <br>•Thread 
             <br>•Starting a thread 
             <br>•Threading module 
             <br>•Synchronizing threads 
             <br>•Multithreaded Priority Queue<hr>
          <b>GUI Programming</b>

             <br>•Introduction 
             <br>•Tkinter programming 
             <br>•Tkinter widgets <hr>
            <b>Sending email</b><hr>


            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>