<section>
      <div class="container-fluid seoservices_con">
        <div class="container">
          <div class="row">
            <div class="page_heading seoservices_heading">SERVICES</div>
          </div>
          <div class="row align_justify">
            <%= image_tag asset_path('graphic5.jpg'), class: "img-responsive marginauto" %>
            <h4>Search is usually the start of any online activity. When your prospects search the web for a particular product or service, can they reach you? We at Dezignsuite make sure you get the visibility, by way of our end to end search engine marketing and optimization solutions. With focus on your business, your keywords and your customers, we offer RESULTS- increased traffic, visitors and revenue. Our SEO services are not limited by geographical boundaries and we offer our services to clients all across the globe. Our key areas of focus:<br><br>

            •Your keywords- we guarantee to take your related search keywords to the number one position<br>
            •Your competitors- we develop strategies for you to beat them for Page 1 position<br>
            •Your existing website - we check whether your website requires a minor adjustment or a major overhaul. We optimize content and codes for best search results.<br><br>
            We generate qualified visits to your website and convert those visits into customer relations for you. We have the stats, the global records and awards to prove that we are the best in the market when it comes to search engine optimization.</h4><br>
                        
          </div>
        </div>
      </div>
    </section>