<section>
      <div class="container-fluid softwarecourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading softwarecourse_heading">COURSES</div>
            <h1>Software Testing Course</h1><hr>
            <h4 class="align_justify">
                Software testing is a process of executing a program or application with the intent of finding the software bugs. It can also be stated as the process of validating and verifying that a software program or application or product: Meets the business and technical requirements that guided it's design and development.<br>
                Testing Techniques are three different types: 1. The techniques which are based on specification is black-box testing. 2. The techniques which are based on internal of the program is white-box testing(structured based techniques).
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h5>
            <b>Introduction</b>
            <br>•Software process, PDCA
            <br>•Why testing?
            <br>•Project management
            <br>•Requirement management
            <br>•Configuration management
            <br>•Testing cost
            <br>•Quality control and quality assurance
            <br>•Quality tools
            <br>•Basic IBM Architecture<hr>

            <b>SDLC</b>
            <br>•Analysis
            <br>•Design
            <br>•Coding
            <br>•Testing
            <br>•Implementation and maintenance<hr>

            <b>LEVELS OF TESTING</b>
            <br>•Unit testing
            <br>•Integration testing
            <br>•System testings
            <br>•User acceptance test<hr>

            <b>SDLC MODELS</b>
            <br>•Waterfall model
            <br>•JOB,Exec,DD Statement
            <br>•Spiral model
            <br>•V-model
            <br>•Prototype model<hr>

            <b>Testing Techniques</b>
            <br>•White box method
            <br>•Black box method
            <br>•Grey box method
            <br>•Incremental method<hr>

            <b>STLC</b>
            <br>•Test plan
            <br>•Test case design
            <br>•Test execution
            <br>•Defect tracking<hr>

            <b>TYPES OF TESTING</b>
            <br>•Recovery testing
            <br>•Retesting
            <br>•Exceptional handling
            <br>•Data driver wizard
            <br>•Parameterization <hr>
            <b>SILK TEST</b>
            <br>•Introduction to silk test
            <br>•Creation of test plan
            <br>•Creation of Test Frame
            <br>•Recording test case
            <br>•Programming in 4 test
            <br>•Verification points<hr>

            <b>QUICK TEST PROFESSIONAL</b>
            <br>•Introduction
            <br>•Object identification
            <br>•Checkpoints
            <br>•Datadriver wizard
            <br>•Regular expressions
            <br>•Creation of Actions
            <br>•Calling actions
            <br>•Copy of actions
            <br>•Batch test
            <br>•Synchronization point
            <br>•Output value
            <br>•Recovery scenario
            <br>•Object repository
            <br>•Break points
            <br>•Functionality testing
            <br>•Regression testing
            <br>•Sanity testing
            <br>•Adhoc testing
            <br>•Smoke testing
            <br>•Exploratory testing
            <br>•Security testing
            <br>•Reusability testing<hr>

            <b>WEB TESTING</b>
            <br>•Functionality testing
            <br>•Usability testing
            <br>•Server side interface
            <br>•Client side interface
            <br>•Performance
            <br>•Security<hr>

            <b>REVIEW</b>
            <br>•Types of reviews
            <br>•Classes of reviews
            <br>•Difference between review and testing<hr>

            <b>METRICS </b>
            <br>•Protect Metrics
            <br>•Process Metrics<hr>

            <b>INTRODUCTION TO AUTOMATION TOOLS</b>
            <br>•Introduction to automated testing
            <br>•Benifits to automated testing<hr> 
            <b>WINRUNNER</b>
            <br>•Introduction
            <br>•Types of checklist
            <br>•GUI Checklist
            <br>•Bitmap checkpoint
            <br>•Database checkpoint
            <br>•Synchronization point
            <br>•Rapid test script wizard
            <br>•Get text function
            <br>•GUI spy<hr>

            <b>LOAD RUNNER </b>
            <br>•Introduction
            <br>•Controller
            <br>•Scheduler
            <br>•Analyzer
            <br>•Performing stress
            <br>•Ramp up
            <br>•Ramp down
            <br>•Parameterization <hr>

            <b>TEST DIRECTOR</b>
            <br>•Introduction to Test Director
            <br>•Planning test
            <br>•Creating test cases
            <br>•Calling the automated script
            <br>•Running the testing by manual or automated testing
            <br>•Defect Tracking
            <br>•Calling the defect
            <br>•Sorting
            <br>•Filtering<hr>

            <b>PLACEMENT PREPARATION </b>
            <br>•Resume preparation
            <br>•Technical seminar
            <br>•Project seminar
            <br>•Interview preparation
            <br>•Mock interviews
            <br>•Final test<hr>

            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>