<section>
      <div class="container-fluid tallycourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading tallycourse_heading">COURSES</div>
            <h1>Tally Course</h1><hr>
            <h4 class="align_justify">
                Tally is popularly known as an accounting software for small and medium businesses. It does all the functions of accounting that a particularly mid sized business has.<br>
                Tally is not just an accounting software. After the release of ERP version of Tally, the capability and functioning of Tally is much more widened and extended to a great extent.
            </h4>
            <h3><b>6 Weeks/Month Course</b></h3><hr>
            <h4>Basic</h4>
            <h5>
            <b>Basics of Accounting</b>
            <br>•Introduction
            <br>•Accounting Principles, Concepts and Convention
            <br>•Double Entry System of Book Keeping
            <br>•Types of Accounts
            <br>•Mode of Accounting
            <br>•Financial Statements
            <br>•Recording Transactions of Sample Data<hr>

            <b>Fundamentals of Tall.ERP 9</b>
            <br>•Introduction
            <br>•Getting Functional with Tally.ERP 9
            <br>•Creation / Setting up of Company in Tally.ERP 9
            <br>•Company Features
            <br>•Configurations<hr>

            <b>Creating Accounting Masters in Tally.ERP 9</b>
            <br>•Chart of Accounts
            <br>•Groups
            <br>•Ledgers<hr>

            <b>Creating Inventory Masters in Tally.ERP 9</b>
            <br>•Stock Group
            <br>•Stock Categories
            <br>•Units of Measure
            <br>•Godowns
            <br>•Stock Items
            <br>•Voucher Types<hr>

            <b>Voucher Entry in Tally.ERP 9</b>
            <br>•Accounting Vouchers
            <br>•Inventory Vouchers
            <br>•Invoicing<hr>

            <b>Generating Basic Reports in Tally.ERP 9</b>
            <br>•Financial Statements
            <br>•Accounting Books & Registers
            <br>•Inventory Books & Reports
            <br>•Exception Reports<hr>

            </h5>
            <h4>Advanced</h4>
            <h5>
            <b>Value Added Tax (VAT)</b>
            <br>•Basic Concepts in VAT
            <br>•Configuring VAT in Tally.ERP 9
            <br>•Creating Masters
            <br>•Entering Transactions
            <br>•Accounting for Return of Goods
            <br>•Rate Difference in Purchase / Sales
            <br>•Purchase from Unregistered Dealers
            <br>•Claiming ITC on Capital Goods
            <br>•Inter Sate Branch transfers
            <br>•VAT Reports
            <br>•VAT for Composite Dealers<hr>

            <b>Tax Deducted at Source</b>
            <br>•Basic concepts of TDS
            <br>•Configuring TDS in Tally.ERP 9
            <br>•Creation of Masters
            <br>•Recording Transactions
            <br>•TDS Reports<hr>

            <b>Service Tax</b>
            <br>•Basic of Service Tax
            <br>•Configuring Tally.ERP 9 for Service Tax
            <br>•Creating Masters
            <br>•Recording Transactions
            <br>•Accounting for Advance Receipts
            <br>•Accounting for Opening Service Tax Credit
            <br>•Adjustment of Input Service Tax Credit
            <br>•Payment of Service Tax
            <br>•Service Tax Reports<hr>

            <b>Payroll Accounting and Compliance</b>
            <br>•Configuring Payroll in Tally.ERP 9
            <br>•Creating Payroll Masters
            <br>•Processing Payroll in Tally.ERP 9
            <br>•Accounting for Employer PF Contributions
            <br>•Accounting for Employer ESI Contributions
            <br>•Accounting for Income Tax
            <br>•Payment of Professional Tax
            <br>•Generating Payroll Reports


<hr>




            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>