 <section>
      <div class="container-fluid softwareandtestingservices_con">
        <div class="container">
          <div class="row">
            <div class="page_heading softwareandtestingservices_heading">SERVICES</div>
          </div>
          <div class="row align_justify">
            <%= image_tag asset_path('graphic5.jpg'), class: "img-responsive marginauto" %>
            <h4>Dezignsuite having started its development centre in early 2014 has over the period achieved numerous success stories by delivering software with performance, quality security and value. We have a broad spectrum of technical expertise in Open Source technologies, Microsoft technology, JAVA and Mobile technologies. Along with development services, Dezignsuite provides end to end solutions in web development, ecommerce solutions, software/application design, testing & application and maintenance.</h4><br>
          </div>
        </div>
      </div>
    </section>