<section>
      <div class="container-fluid trainingservices_con">
        <div class="container">
          <div class="row">
            <div class="page_heading trainingservices_heading">SERVICES</div>
          </div>
          <div class="row align_justify">
            <%= image_tag asset_path('graphic5.jpg'), class: "img-responsive marginauto" %>
            <h4>Dezignsuite provides technical and non-technical trainings to various organizations such as: colleges, universities, schools, government and private institutions across India. We align your skills to industry requirement. Our team of experts bring to you technical know-how on what is new and what is next to meet your career goals. We have trained more than 8,00,000+ candidates from 500+ companies and institutes. We provide In-house training and On-site training on various tools, technologies and domains. Our broad spectrum of domain expertise caters to Open Source Technologies, Microsoft Technologies, Software Testing, JAVA.<br>

            Advance JAVA Technologies, Mobile Technologies, Management and Marketing, Cloud Computing, IBM Tools and Technologies, Electronics, Robotics, Embedded Systems, Big Data, DBMS, Networking and many more. Our trainings are being consistently conducted all across the year.<hr>

            •IBM, HP, Microsoft and International Software Testing Board Partner<br>
            •Trainings offered by experienced industry professionals across varied tools and technologies<br>
            •More than 13 + years of experience in IT services and job oriented training<br>
            •Trained in more than 500+ colleges and universities<br>
            •More than 8, 00, 000 individuals trained</h4><br>
                        
          </div>
        </div>
      </div>
    </section>