<section>
      <div class="container-fluid webdesigningcourse_con">
        <div class="container">
          <div class="row">
            <div class="page_heading webdesigningcourse_heading">COURSES</div>
            <h1>Web Designing Course</h1><hr>
            <h4 class="align_justify">
                Web design is a process of conceptualizing, planning, and building a collection of electronic files that determine the layout, colors, text styles, structure, graphics, images, and use of interactive features that deliver pages to your site visitors.<br>
                Web design is the process of creating websites. It encompasses several different aspects, including webpage layout, content production, and graphic design. ... Some web designers prefer to hand code pages (typing HTML and CSS from scratch), while others use a "WYSIWYG" editor like Adobe Dreamweaver.
            </h4>
            <h3><b>6 Weeks Course</b></h3><hr>
            <h5>
            <b>HTML :-</b>

            <br>•Introduction to HTML
            <br>•HTML Tags
            <br>•Creating Forms
            <br>•HTML TABLES
            <br>•HTML LISTS
            <br>•HTML Frames
            <br>•Managing home page<hr>

            <b>CSS :-</b>

            <br>•Introduction to CSS
            <br>•Three ways to use CSS
            <br>•CSS Properties
            <br>•Designing website
            <br>•Selectors
            <br>•STYLING BACKGROUND :-
            <br>•Styling Links
            <br>•Table CSS
            <br>•DIV PROPERTIES
            <br>•Working with Templates<hr>

            <b>Java Script :- </b>

            <br>•Introduction to Javascript
            <br>•Three ways to use Javascript Working with events
            <br>•Client-side Validation<hr>

            <b>JQuery :-</b>

            <br>•Introduction to JQuery
            <br>•Validation using JQuery
            <br>•JQuery Forms
            <br>•JQuery Examples<hr>

            <b>Adobe Photoshop:-</b>
            <br>•Photoshop
            <br>•Illustrator
            <br>•Image selection for template
            <br>•UI designing
            <br>•Icon designing
            <br>•GIF animation
            <br>•Typography
            <br>•Websafe Fonts
            <br>•Tools and add ons<hr>

            </h5>
            <h3><b>6 Months Course</b></h3><hr>
            <h5>
              <b>HTML :-</b>

            <br>•Introduction to HTML
            <br>•HTML Tags
            <br>•Creating Forms
            <br>•HTML TABLES
            <br>•HTML LISTS
            <br>•HTML Frames
            <br>•Managing home page<hr>

            <b>CSS :-</b>

            <br>•Introduction to CSS
            <br>•Three ways to use CSS
            <br>•CSS Properties
            <br>•Designing website
            <br>•Selectors
            <br>•STYLING BACKGROUND :-
            <br>•Styling Links
            <br>•Table CSS
            <br>•DIV PROPERTIES
            <br>•Working with Templates<hr>

            <b>Java Script :-</b>

            <br>•Introduction to Javascript
            <br>•Three ways to use Javascript Working with events
            <br>•Client-side Validation<hr>

            <b>JQuery :-</b>

            <br>•Introduction to JQuery
            <br>•Validation using JQuery
            <br>•JQuery Forms
            <br>•JQuery Examples<hr>

            <b>Bootstrap</b>
            <br>• Bootstrap Grid System
            <br>• Grid options
            <br>• Bootstrap CSS Overview
            <br>• Bootstrap Typography
            <br>• Bootstrap Tables
            <br>• Bootstrap Forms
            <br>• Bootstrap Buttons
            <br>• Bootstrap Images
            <br>• Bootstrap Helper Classes
            <br>•Bootstrap Responsive utilities
            <br>•Print classes
            <br>•Bootstrap Glyphicons
            <br>•Bootstrap Dropdowns
            <br>•Bootstrap Button Groups
            <br>•Bootstrap Button Dropdowns
            <br>•Bootstrap Input Groups
            <br>•Bootstrap Navigation Elements
            <br>•Bootstrap Navbar
            <br>•Bootstrap Pagination
            <br>•Bootstrap Badges<hr>



            <b>Advanced Web Designing</b>


            <br>•Photoshop
            <br>•Illustrator
            <br>•Image selection for template
            <br>•UI designing
            <br>•Icon designing
            <br>•GIF animation
            <br>•Typography
            <br>•Websafe Fonts
            <br>•Tools and add ons
            <br>•One page website designing
            <br>•E commerce website designing
            <br>•Seo friendly web designing
            <br>•Responsive website template
            <br>•Email newsletter designing
            <br>•Dos and Donts in Web Designing
            <br>•Web fonts
            <br>•Bug fixing
            <br>•Browser compatibility
            <br>•W3C compatibility
            <br>•Using Sliders and Galleries
            <br>•Tools for Webpage Slicing
            <br>•Vendor Prefixes
            <br>•Loaders and Preloader
            <br>•Managing Control Panel / FTP
            <br>•Using Font Icons
            <br>•Using SVG
            <br>•Animation
            <br>•Device and Mobile Compatibility
            <br>•Image Optimization
            <br>•SpeedUp Loading
            <br>•On page Optimization<hr>

            </h5>
          </div>
          <div class="row align_justify">
            <%= link_to "Register", new_student_enrollment_path, class: "winter_btn backorange" %> 
          </div>
        </div>
      </div>
    </section>