<div class="sidebar">
	<ul>
		<li>
			<%= link_to (fa_icon "user", text:'Students').html_safe,"#" %>
		</li>
		<li> 
			<%= link_to (fa_icon "gear", text:'Testimonials').html_safe, admin_testimonials_path %>
		</li>
		<li>
			<%= link_to (fa_icon "gear", text:'Gallery').html_safe, admin_galleries_path %>
		</li>
	</ul>
</div>